on:
  release:
    types:
    - created

permissions:
  contents: write
  packages: write

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos:
        - linux
        - darwin
        goarch:
        - amd64
        - arm64
    steps:
    - uses: actions/checkout@v6
    - name: Get short commit hash
      run: echo "COMMIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
    - uses: actions/setup-go@v6
      with:
        go-version: '1.25'
    - uses: wangyoucao577/go-release-action@v1.55
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goversion: "1.25"
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        ldflags: "-s -w -X 'main.AppVersion=${{ env.COMMIT_HASH }}'"
        compress_assets: OFF
        project_path: ./cmd/faust
        binary_name: faust
        overwrite: TRUE
        md5sum: FALSE
